/**
 * BEGIN style
 */

body {
  background: #f1f1f1;
  padding: 0;
  margin: 0;
  color: #222;
  font-size: 62.5%;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset {
  font-family:"ff-meta-web-pro-1","ff-meta-web-pro-2","Lucida Grande",Helvetica,Arial,sans-serif;
  font-size:
}

header, #content, footer {
  color: #444;
  background-color: #fff;
}

#content {
  font-size: 180%;
  }

h1#title {
  color: #222;
  font-family: Georgia, serif;
  font-size: 400%;
  line-height: .5em;
}

h3#title {
  color: #333;
  font-size: 200%;
  line-height: .5em;
}

h1.header { font-size: 14px; line-height: 1em; }
h1.header a { text-decoration: none; } 


/**
 * END style
 */


/**
 * BEGIN main
 */
header, #content, footer {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0em;
  width: 960px;
  margin: 0px auto;
  display: block;
}

/*
 * END main
 */
