body {
  background: #f1f1f1;
  padding: 0;
  margin: 0;
  color: #222;
  font-size: 62.5%;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset {
  font-family:"ff-meta-web-pro-1","ff-meta-web-pro-2","Lucida Grande",Helvetica,Arial,sans-serif;
  font-size:
}

header, #content, footer {
  color: #444;
  background-color: #fff;
}

header nav ul {
  font-size: 180%;
  font-family: "Monaco", "Lucia Console", fixed;
  list-style: none;
  }

header nav ul li{
  width: 100px;
  float: left;
  }

header nav a {
  text-decoration: none;
  color: #222;
  }
header nav a:before
  {
  content: "\3E \ ";
  }

#content {
  padding-top: 30px;
  font-size: 180%;
  }

h1#title {
  font-family:verdana;
  font-size:48px;
  font-weight:bold;
  letter-spacing:-7px;
  color: #333;
  line-height: 1em;
  margin-bottom: 0em;
}
h3#title {
  font-size: 200%;
  font-style:italic;
  line-height: 1em;
  margin-top: 0em;
}

header h3:before { content: open-quote; font-size: 20px; }
header h3:after { content: close-quote; font-size: 20px; }


h1 { font-size: 150%; }
h2 { font-size: 130%; }
h3 { font-size: 100%; }
h4 { font-size: 80%; }

h1 a, h2 a, h3 a{ color: #111; }

div.hr {
  margin-top: 55px;
  height: 15px;
  background: #fff url(/images/hr.png) repeat-x scroll center;
}
div.hr hr {
  display: none;
}

code { 
  font-family: "Monaco", "Lucia Console", fixed;
  background-color: #DDD;  
  white-space: nowrap;
  border-bottom: 1px solid #BBB;
  border-top: 1px solid #BBB;
  padding-left: 5px;
  padding-right: 5px;
}

pre code {
  border: 0;
  background: none;
  white-space: pre;
}




