<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>

    <meta charset="utf-8" />
    <meta name="author" content="zzeroo" />

    <link href="css/main.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="css/style.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/iehacks.css" />
    <![endif]-->
    
    <!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" href="/css/ie67hacks.css" />
    <![endif]-->

  </head>

  <body>
    <header>
      <h1 id="title">{{ page.title }}</h1>
      <h3 id="title">Storys about the daily fight against machines and logic</h3>
      <nav>
         <ul>
          <li><a href="http://zzeroo.com">home</a></li>
         </ul>
       </nav>
     </header>
    
     <div id="content">
       <section class="hfeed">
          <article class="hentry">
      
          {{ content }}
        </article>
      </section>

      <aside>
      <!-- 
      -->
      </aside>
    </div>
 
    <footer id="main-footer">
      <section id="footer-1">
        Copyright zzeroo systems &copy; 2010
      </section>
      <section id="footer-2">

      </section>
    </footer>
 
    <a href="http://zzeroocom.foren-city.de">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="images/cw-allstars-logo.png" alt="CW-Allstarsi">
    </a>

  </body>
</html>

